@model IEnumerable<TaxiWeb.Models.Conductor>

@{
    ViewBag.Title = "Conductores";
}

<h2>@ViewBag.Title</h2>

<p>
    <a id="crearNuevo" href=@Url.Action("Create", "Conductor")><i class="medium material-icons">add_circle</i></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayName("Cédula")
        </th>
        <th>
            @Html.DisplayName("Fecha de Nacimiento")
        </th>
        <th>
            @Html.DisplayName("Licencia de Conducción")
        </th>
        <th>
            @Html.DisplayName("Expiración de Licencia")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Apellido)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cedula)
    </td>
    <td>
        @item.FechaNacimiento.ToString("dd/MM/yyyy")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LicenciaConduccion)
    </td>
    <td>
        @item.ExpiracionLicencia.ToString("dd/MM/yyyy")
    </td>
    <td id="icons">
        @Html.ActionLink("create", "Edit", new { id = item.Id }, new { @class = "material-icons" })
        @Html.ActionLink("list", "Details", new { id = item.Id }, new { @class = "material-icons" })
        @Html.ActionLink("delete", "Delete", new { id = item.Id }, new { @class = "material-icons" })
    </td>
</tr>
    }

</table>
