@model TaxiWeb.Models.Clase

@{
    ViewBag.Title = "Eliminar";
}

<h2>@ViewBag.Title</h2>

<h3>¿Estás seguro que deseas eliminar este registro?</h3>
<div>
    <h4>Clase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaClase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaClase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreInstructor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreInstructor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conductor.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conductor.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
