@model TaxiWeb.Models.Clase

@{
    ViewBag.Title = "Detalles";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Clase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Fecha de Clase")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaClase)
        </dd>

        <dt>
            @Html.DisplayName("Instructor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreInstructor)
        </dd>

        <dt>
            @Html.DisplayName("Hora de Inicio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>

        <dt>
            @Html.DisplayName("Hora de Fin")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraFin)
        </dd>

        <dt>
            @Html.DisplayName("Conductor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conductor.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
