@model IEnumerable<TaxiWeb.Models.Clase>

@{
    ViewBag.Title = "Clases";
}

<h2>Inscripción a @ViewBag.Title</h2>

<p>
    <a class="black-text" href=@Url.Action("Create", "Clase")><i class="medium material-icons">add_circle</i></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Fecha de Clase")
        </th>
        <th>
            @Html.DisplayName("Instructor")
        </th>
        <th>
            @Html.DisplayName("Hora de Inicio")
        </th>
        <th>
            @Html.DisplayName("Hora de Fin")
        </th>
        <th>
            @Html.DisplayName("Conductor")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaClase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreInstructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conductor.Nombre)
        </td>
        <td id="icons">
            @Html.ActionLink("create", "Edit", new { id = item.Id }, new { @class = "material-icons" })
            @Html.ActionLink("list", "Details", new { id = item.Id }, new { @class = "material-icons" })
            @Html.ActionLink("delete", "Delete", new { id = item.Id }, new { @class = "material-icons" })
        </td>
    </tr>
}

</table>
