@{
    var usuarioLogado = Context.User.Identity.IsAuthenticated;
    var usuarioSesion = Context.Session["usuario"];
    var nombreUsuario = string.Empty;

    if (usuarioSesion != null)
    {
        nombreUsuario = usuarioSesion.ToString();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TaxiWeb</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/materialize.js"></script>
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/taxi_style.css" rel="stylesheet" />
    <script src="~/Scripts/general.js"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper yellow">
            <a href=@Url.Action("Index", "Home") class="brand-logo tooltipped"
               data-position="bottom" data-tooltip="Vamos al Inicio">
                <img src="~/Images/logo taxi.png" />
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                @*<li class="black-text">@ViewBag.Usuario</li>*@
                @if (usuarioLogado)
                {
                    <li class="black-text">Bienvenido @nombreUsuario</li>
                }
                <li data-target="slide-out" class="sidenav-trigger">
                    <a class="tooltipped" data-position="bottom" data-tooltip="Presióname" href="#">
                        <i class="material-icons">apps</i>
                    </a>
                </li>
                @if (usuarioLogado)
                {
                    if (nombreUsuario.Equals("admin@prueba"))
                    {
                        <li>@Html.ActionLink("Conductor", "Index", "Conductor")</li>
                        <li>@Html.ActionLink("Vehículo", "Index", "Vehiculo")</li>
                        <li>@Html.ActionLink("Clase", "Index", "Clase")</li>
                        <li>@Html.ActionLink("Afiliarme", "Index", "Afiliacion")</li>
                    }
                    <li>@Html.ActionLink("Cerrar Sesión", "Logout", "Home")</li>
                }
            </ul>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="~/Images/taxiBackground.png" />
                </div>
                <br /><br />
            </div>
        </li>
        <li><div class="divider"></div></li>
        @if (usuarioLogado)
        {
            <li>@Html.ActionLink("Cerrar Sesión", "Logout", "Home")</li>
        }
        else
        {
            <li><a class="modal-trigger" href="#modal1">Iniciar Sesión</a></li>
        }
        <li><div class="divider"></div></li>
        @if (usuarioLogado)
        {
            if (nombreUsuario.Equals("admin@prueba"))
            {
                <li>@Html.ActionLink("Conductor", "Index", "Conductor")</li>
                <li>@Html.ActionLink("Vehículo", "Index", "Vehiculo")</li>
                <li>@Html.ActionLink("Clase", "Index", "Clase")</li>
                <li>@Html.ActionLink("Afiliarme", "Index", "Afiliacion")</li>
            }
        }

    </ul>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Iniciar Sesión</h4>
            @using (Html.BeginForm("Login", "Home"))
            {
                <div class="row">
                    <div class="input-field col s4">
                        <input id="usuario" name="usuario" type="text" class="validate">
                        <label for="usuario">Usuario</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Contraseña</label>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <button id="btnModal" class="btn" type="submit">Ingresar</button>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TaxiWeb</p>
        </footer>
    </div>
</body>
</html>
